<ion-grid>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="auto">
      <!-- <ion-button (click)="prevPage()" [disabled]="currentPage === 1"> -->
      <ion-button shape="circle" (click)="previousPage()">
        <ion-icon slot="icon-only" name="caret-back-circle-outline" size="large"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="auto" class="ion-align-items-center ion-justify-content-center">
      <!-- <ion-input type="number" min="1" max="{{ 100 }}"></ion-input> / {{ "totalPages" }} -->
      {{ currentPage() }} / {{ totalPages }}
    </ion-col>
    <ion-col size="auto">
      <!-- <ion-button (click)="nextPage()" [disabled]="currentPage === totalPages"> -->
      <ion-button shape="circle" (click)="nextPage()">
        <ion-icon slot="icon-only" name="caret-forward-circle-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
