.logo {
  width: 150px; /* Ajusta el ancho según tus necesidades */
  height: auto; /* El alto se ajustará proporcionalmente */
}
ion-avatar {
  width: 40px; // ajusta el tamaño del avatar según tus necesidades
  height: 40px;
}
