ion-img{
  width: 200px;
  // -webkit-filter: box-shadow( rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset);
  // filter: box-shadow( rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset)
}
ion-header {
  align-items: center;
  text-align: center;
  align-content: center;
}
.title{
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
}

// ion-grid {
//   --ion-grid-width: 50%;

//   --ion-grid-width-xs: 50%;
//   --ion-grid-width-sm: 288px;
//   --ion-grid-width-md: 384px;
//   --ion-grid-width-lg: 480px;
//   --ion-grid-width-xl: 570px;
// }

ion-row{
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

ion-grid{
  height: 100%;
}
.formulario{
  height: 100%;
}
