<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>layoutAuth</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid [fixed]="true">
    <ion-row class="title" align-items-center>
      <ion-col size="12" sizeLg="5" sizeMd="12" sizeSm="12">
        <ion-img [src]="'./../../../../assets/LOGO1-lite.png'"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="formulario">
      <ion-col size="12" sizeLg="5" sizeMd="12" sizeSm="12" >
        <router-outlet/>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
