/* En el archivo global.css o en el archivo de estilos del componente */
ion-footer {
  color: #fff; /* Cambia el color del texto a tu elección */
  font-size: 14px; /* Ajusta el tamaño de fuente según tus preferencias */
  /* Otros estilos personalizados */
}
ion-img{
  width: 150px;
  height: auto;
}
