<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
    <ion-card-title>Awesome Title</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <!-- <markdown [src]="'../../assets/An Introduction to Philosophy/An Introduction to Philosophy.md'"/> -->
          <markdown [src]="currentLink()"/>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <!-- <mat-slider [min]="25" [max]="100" [discrete]="true" [showTickMarks]="false">
            <input matSliderThumb [(ngModel)]="value" #slider>
          </mat-slider> -->

          <shared-control-page-buttons [totalPages]="_links().length" (currentPageSent)="updatePageTo($event)" style="width: 100%;"/>
          <!-- {{currentLink()}} -->
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
